body,
html {
    height: 100%;
    display: grid;
    background-color: #708090;
    color: rgb(210, 222, 234);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
}

main {
    margin-right: auto;
    margin-left: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.game-box {
    transform: scale(1.0);
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.game-box:hover {
    transform: scale(1.05);
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.game-icon {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}